#Folders
.vscode/
node_modules/
node_modules
queues/

#JS
package-lock.json
package.json

#Innecesary stuff
test.js
TODO

#Private Keys
#db/credentials.js
#db/aliases
#db/prefix


#Py
tests/__pycache__
tests/.pytest_cache